.option {
	cursor: pointer;
	padding-left: 0.25em;
	border-inline: 1px solid black;
	border-bottom: 1px solid black;
}

.option:hover,
.optionActive {
	background-color: var(--secondary);
	color: white;
}
