.form {
	width: 30rem;
	margin-top: 3rem;
}

.form * {
	font-size: 2rem;
	width: 30rem;
}

.input {
	background-color: var(--primary);
	padding-left: 0.25em;
}

.autocomplete {
	list-style: none;
	background-color: var(--primary);
}

.hide {
	display: none;
}
